.card{
   box-shadow: none;
   border: none;
   max-width: 210px;
   margin: 15px 0 0 0;
   &:hover{
      box-shadow: 3px 3px 5px;
   }
   &__body{
      display: flex;
      flex-direction: column;
      margin: 0 10px;
   }
   &__img{
      display: flex;
      flex-direction: row;
      max-width: 100%;
      img{
         flex: 0 0 50%;
         max-width: 95px;
         max-height: 180px;
      }
   }
   &__imgsubtitle{
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: 600;
      div{
         flex: 1 0 50%;
         text-align: center;
         &:first-child{
            margin: 0 5px 0 0;
         }
      }
   }
   &__title{
      font-size: 23px;
      font-weight: 600;
      color: $fontcolor;
      text-decoration: none;
      &:hover{
         color: $forestgreen;
      }
   }
   &__subtitle{
      font-size: 14px;
      margin: 0 0 10px 0;
   }
   &__btn{
      font-size: 14px;
      display: flex;
      flex-flow: row wrap;
      margin: 0 0 15px 0;
      &--red{
         flex: 1 0 25%;
         border: 1px solid $redbtn;
         color: $redbtn;
         @include btn;
         &:hover{
            background: $redbtn;
            color: white;
         }
      }
      &--orange{
         flex: 1 0 25%;
         border: 1px solid $orangebtn;
         color: $orangebtn;
         @include btn;
         &:hover{
            background: $orangebtn;
            color: white;
         }
      }
      &--blue{
         flex: 0 1 60px;
         border: 1px solid $bluebtn;
         color: $bluebtn;
         @include btn;
         &:hover{
            background: $bluebtn;
            color: white;
         }
      }
   }
}