.filter{
   flex: 0 1 auto;
   display: flex;
   flex-direction: row;
   &__column{
      display: flex;
      flex-direction: row;
      margin: 0 15px 0 0;
   }
   &__btn{
      &:first-child{
         border-top-left-radius: 3px;
         border-bottom-left-radius: 3px;
      }
      height: 100%;
      width: 100%;
      padding: 5px 10px;
      text-align: center;
      background: white;
      color: $fontcolor;
      border: 1px solid #eeeff0;
   }
}
.hide{
   display: none;
}
._active--btn{
   background: $forestgreen;
   border: 1px solid $forestgreen;
   color: white;
}