.search{
   flex: 1 0 auto;
   margin: 0 140px 0 0;
   min-height: 35px;
   min-width: 55px;
   &__form{
      display: flex;
      width: 100%;
   }
   &__search{
      padding: 5px;
      border: 1px solid #eeeff0;
      width: 100%;
      background: white;
      &:focus{
         border-color: $forestgreen;
      }
   }
   &__pushbtn{
      background: $forestgreen;
      border: 1px solid $forestgreen;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: white;
      font-size: 16px;
      padding: 5px;
   }
}